*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: "Header Header" "Main Aside" ". Aside"  ". Aside" "Footer Footer";
    grid-template-columns: 120px 120px;
    grid-template-rows: 100px 150px 80px 100px 100px;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    align-content: end;
}

h1{
    font-size: 2.5rem;
}

header{
    background-color: antiquewhite;
    grid-area: Header;
}

main{
    background-color: beige;
    grid-area: Main;
}

aside{
    background-color: bisque;
    grid-area: Aside;
}

footer{
    background-color: rgb(187, 228, 228);
    grid-area: Footer;
}