*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   padding: 32px;
}

main{
   height: 80vh;
   border: solid 2px black;
   padding: 32px;
   /* display: flex; */
   /* flex-direction: column; */
   /* flex-wrap: wrap;
   justify-content: center;
   align-items: center; */
   /* gap: 64px; */
   position: relative;
}

div{
    height:180px;                        
    width: 180px;
    border: solid 1px black;
    font-size: 64px;
    color: white;
    /* padding: 16px;
    margin: 16px;
    display: inline-block; */
    padding: 16px 32px 64px 128px;
}

 .square1{
    background-color: blueviolet;
    position: absolute;
    z-index: 2;
    /* top: 200px;
    /* left: 200px; */
    /* right: 8px; */ 
    /* bottom: 40px; */
 }

 .square2{
    background-color: antiquewhite;
    position: absolute;
    left: 68px;
    top: 68px;
    z-index: -1;
 }

 .square3{
    background-color: blue;
    position: absolute;
    left: 108px;
    top: 108px;
}